<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Queen Attack</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class = "container">
    <h1>Prepare to be atatcked by the Queen</h1>
    <a href='/queen/new'><button class = "btn btn-danger">Add players coordinates</button></a>
    </div>
</body>
</html>